wheel
setuptools
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
chirptext==0.1.2
Deprecated==1.2.13
idna==3.3
jaconv==0.3
jamdict==0.1a11.post2
jamdict-data==1.5
numpy==1.22.3
puchikarui==0.1
pykakasi==2.2.1
pywikibot==7.0.0
regex==2022.3.15
requests==2.27.1
soupsieve==2.3.1
urllib3==1.26.8
wcwidth==0.2.5
wikitextparser==0.48.2
wrapt==1.14.0
